@use '../../styles/tools' as *;

.header {
  background-color: #212142;
  justify-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  isolation: isolate;
  z-index: 100;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .branding {
    display: flex;
    align-items: center;
    padding: 16px 0;
    height: max-content;

    &__logo {
      width: max-content;
      font-size: 1.3rem;
      font-weight: normal;
    }

    &__seperator {
      border-right: 1px solid rgba(255, 255, 255, 0.4);
      margin: 0 16px;
      height: 28px;
    }
    &__obi {
      height: 28px;

      img {
        width: 11rem;
        object-fit: contain;
      }
    }

    @include respond-to('lt-mobile') {
      &__seperator,
      &__obi {
        display: none;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    align-self: flex-end;
    width: 100%;
  }

  &__search {
    @include search_button;
  }

  @include respond-to('lt-tablet') {
    position: static;
    display: flex;
    padding: 1rem 2rem;

    &__container {
      width: 100%;
      padding: 0;
      grid-template-columns: 1fr;
    }

    &__search {
      display: none;
    }
  }
}
