{
  "plugins": ["simple-import-sort", "sort-keys-fix"],
  "rules": {
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "react/no-danger": "off",
    "no-param-reassign": [1, { "props": false }],
    "no-unused-vars": [1],
    "prettier/prettier": [1, { "singleQuote": true, "parser": "flow" }],
    "eqeqeq": "off",
    "no-multi-str": "off",
    "react-hooks/exhaustive-deps": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "sort-keys-fix/sort-keys-fix": "warn"
  },
  "extends": ["@ijsto", "plugin:import/errors", "plugin:import/warnings"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
