@use '../../styles/tools' as *;

@mixin card-background($color1, $color2) {
  background: linear-gradient(218.46deg, $color1, $color2);
}

.card {
  justify-self: center;
  width: 100%;
  max-width: 265px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  color: #fff;
  border: 2px solid white;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: content-box;
  list-style: none;

  &__text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  &__content {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
  }

  &__icon {
    height: 193px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__title {
    height: max-content;
    align-self: flex-start;
    color: var(--primary);
    font-weight: 800;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
    line-height: 1.8rem;
  }

  &__soon {
    position: absolute;
    top: 0.5rem;
    left: -3px;
  }

  &__desc {
    font-size: 0.7rem;
    color: #5f5f5f;
    line-height: 1.3rem;
  }
}
