@use '../../styles/tools' as *;

.navigation {
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 48px 0 80px;
    flex-wrap: wrap;
    gap: 48px;

    > a {
      display: flex;
      gap: 32px;
      align-items: center;
      flex-grow: 1;

      border-radius: 10px;
      background: #fff;

      img {
        max-width: 200px;
        max-height: 100%;
        object-fit: cover;
      }

      > span {
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
          background-color: #f5899d;
          border: 3px solid #fff;
          border-radius: 20px;
          font-size: 0.7rem;
          width: fit-content;
          font-weight: 700;
          padding: 2px 16px;
          color: #fff;
        }
      }
    }
  }

  &__img {
    line-height: 0;
    position: relative;
  }

  &__id {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f5899d;
    font-size: 14px;
    font-weight: 700;
  }

  &__back {
    img {
      border-radius: 10px 0 0 10px;
    }
  }

  &__next {
    justify-content: flex-end;
    text-align: end;

    > div {
      order: 1;
    }

    > span {
      justify-content: flex-end;

      p {
        align-self: flex-end;
      }
    }

    img {
      border-radius: 0 10px 10px 0;
    }
  }

  @include respond-to('lt-mobile') {
    &__id {
      height: 20px;
      width: 20px;
      top: 8px;
      left: 8px;
    }
    a img {
      max-width: 120px;
    }
  }
}
